{% extends "layout.html" %}

{% block content %}
<div class="flex items-center flex-col mt-10">
  <h1 class="text-2xl text-bold mb-6">
    {{ section.title }}
  </h1>
  <div class="flex flex-col gap-y-6 w-full px-4 sm:w-2/3">
    {% for page in section.pages %}
      <h2>{{ page.title }}</h2>
      <p>{{ page.content | safe }}</p>
    {% endfor %}
  </div>
</div>
{% endblock content %}